/*Estilos da página index.html*/
.center {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
 }
 
 .justify{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
 }
 
 .container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
 }  
 
 #menu li {
    display: inline-flex ;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    
 }

 #background-equipe-medica{
     background-color: #ccffcc;

 }

 #background-endereco{
     background-color: #f4f4f4;
 }

 #background-amarelo{
     background-color: #FFFFB8;
 }

 #background-azul{
     background-color: 	#a9fedf;
 }
 
 #menu li a {
    text-decoration: none;
    color: #546de5;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
 }
 
 #menu li a:hover {
    color: grey;
    font-family: 'Open Sans', sans-serif;
 }
 
 .p-30 {
    padding: 30px;
 }
 
 .br-50 {
    border-radius: 50%;
 }
 
 .wh-300{
    width: 300px;
    height: 300px;
 
 }
 
 .tm-social {
    width: 50px;
    height: 50px;
 }
 
 .mb-50{
    margin-bottom: 50px;
 }

 
 /*Estilos da página contato.html*/
 
 .ml-50 {
    margin-left: 50px;
 }